<div class="container">
  <h1>My bookings</h1>

  <div class="campsite-listings">
    <% @bookings.each do |b| %>
      <a href="/my-bookings/<%= b.uuid %>">
        <div class="listing" style='background-image: url(<%= image_path("campsites/#{b.rec_site.photo_id_1}") %>);'>
          <div class="listing-text">
            <span class="title"><%= b.rec_site.name %></span>
            <span class="availability">3 Sites Remaining</span>
            <div class="facilities">
              <%= icon('fire', title: "Fire pits") %>
              <%= icon('cutlery', title: "BBQs") %>
              <%= icon('bed', title: "Campsites") %>
            </div>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>
