<div class="booking-page">
  <div class="campsite-image" style='background-image: url(<%= image_path("campsites/#{@recsite.photo_id_1}") %>'>
    <span class="title"><%= @recsite.name %></span>
  </div>
  <div class="container">

    <div class="booking-content guest-info">
      <div class="left-col">
        <span>Guest</span>
      </div>

      <div class="right-col">
        <span><%= current_user.email %></span>
      </div>
    </div>

    <hr />

    <div class="booking-content checkinout-dates">
      <div class="left-col">
        <span>Check-in</span>
        <span>Check-out</span>
      </div>

      <div class="right-col">
        <span>Fri, Aug 5</span>
        <span>Sun, Aug 7</span>
      </div>
    </div>

    <hr />

    <div class="booking-content site-type">
      <div class="left-col">
        <span>Site type</span>
      </div>

      <div class="right-col">
        <span>Assigned by ranger</span>
      </div>
    </div>

    <hr />

    <div class="booking-content pricing">
      <div class="left-col">
        <span>Unpowered site (2 nights)</span>
        <span>Promo code</span>
      </div>

      <div class="right-col">
        <span>$30</span>
        <span>Not Applied</span>
      </div>
    </div>

    <hr />

    <div class="booking-content payment-method">
      <div class="left-col">
        <span>Payment method</span>
      </div>

      <div class="right-col">
        <span class="active-payment"><i class="fa fa-credit-card-alt"></i>Credit Card</span>

        <div class="payment-method-options">
          <span class="android-pay"><i class="fa fa-android"></i>Android Pay</span>
          <span class="apple-pay"><i class="fa fa-apple"></i>Apple Pay</span>
          <span class="bitcoin"><i class="fa fa-bitcoin"></i>BitCoin</span>
          <span class="credit-card current"><i class="fa fa-credit-card-alt"></i>Credit Card</span>
        </div>
      </div>
    </div>

    <hr />

    <div class="booking-content total">
      <div class="left-col">
        <span>Total</span>
      </div>

      <div class="right-col">
        <span>$30</span>
      </div>
    </div>

    <hr />

    <div class="booking-content need-to-know">
      <h3>Need to know</h3>

      <ul>
        <li>Purchase is non-refundable</li>
        <li>This site is unpowered</li>
        <li>Visitors must bring their own tents and equipment</li>
        <li>No guarantees can be made regarding weather</li>
      </ul>
    </div>

    <div class="booking-content pay-now">
      <a href="/campsite/<%= @recsite.id %>/book-now/confirmed"><button class="btn pay-now"><span class="payment-type-text"><i class="fa fa-credit-card-alt"></i>Credit Card</span></button></a>
    </div>
  </div>
</div>
<div class="modal-background hidden">
  <div class="confirm-purchase-modal">
    <span class="close">x</span>
    <button class="btn btn-success">Confirm Purchase</button>
    <%= image_tag('loading-spinner.gif', class: "loading-gif hidden", loop: "infinite") %>
  </div>
</div>
