<div class="confirmed-page">
  <div class="container">
    <div class="info-text">
      <h3>Booking Confirmed!</h3>
      <span>Check-in begins at 2:00pm on Friday, August 5 and you'll be staying for 2 nights.</span>
    </div>

    <hr />

    <div class="campsite-details">
      <h3><%= @booking.rec_site.name %></h3>
      <span class="accom-level <%= @booking.rec_site.site_class.downcase %>"><%= @booking.rec_site.site_class %></span>

      <div class="logistics">
        <span class="address address-1">-35.512031, 141.322908</span>
        <span class="address address-2">Victoria, Australia</span>
        <span class="checkinout-dates">Fri, Aug 5 - Sun, Aug 7</span>
      </div>

      <div class="map">
        <iframe
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDIjVO-RYkBOZkW_DBOy0g4551G4ZCKPQI&origin=melbourne,victoria&destination=<%= @booking.rec_site.latitude %>,<%= @booking.rec_site.longitude %>" allowfullscreen>
        </iframe>
      </div>

      <div class="big-dates">
        <div class="left-col">
          <span class="bigger">Check-in</span>
          <span>Fri, Aug 5, 2016</span>
          <span>2:00PM</span>
        </div>

        <div class="right-col">
          <span class="bigger">Check-out</span>
          <span>Sun, Aug 7, 2016</span>
          <span>11:00AM</span>
        </div>
      </div>

      <div class="extra-buttons">
        <a href="#"><button class="btn">Add to calendar</button></a>
        <a href="/"><button class="btn">Home Page</button></a>
      </div>
    </div>
  </div>
</div>
