<div class="container">
  <h1>Available Campsites</h1>

  <div class="campsite-listings">
    <% 10.times do %>
      <!--<a href="/campsite/1">
        <div class="listing" style="background-image: url(<%= image_path('campsites/fire-bin.jpeg') %>);">
          <div class="listing-text">
            <span class="title">Otways National Park</span>
            <span class="availability">3 Sites Remaining</span>
            <div class="facilities">
              <i>BBQ</i>
              <i>Fires</i>
              <i>Fixed Accommodation</i>
            </div>
          </div>
        </div>
      </a>-->
    <% end %>
    <% @rec_sites.shuffle.each do |r| %>
    <a href="/campsite/<%= r.id %>">
      <div class="listing" style='background-image: url(<%= image_path("campsites/#{r.photo_id_1}") %>);'>
        <div class="listing-text">
          <span class="title"><%= r.name %></span>
          <span class="availability"><%= rand(1..15) %> Sites Remaining</span>
          <div class="facilities">
            <%= icon('fire', title: "Fire pits") %>
            <%= icon('cutlery', title: "BBQs") %>
            <%= icon('bed', title: "Campsites") %>
          </div>
        </div>
      </div>
    </a>
    <% end %>
  </div>
</div>
