<div class="campsite-page">
  <div class="campsite-image" style='background-image: url(<%= image_path("campsites/#{@recsite.photo_id_1}") %>)'></div>
  <div class="container">
    <div class="campsite-info-text">
      <div class="left-col">
        <span class="title"><%= @recsite.name %></span>
        <span class="accom-level basic"><%= @recsite.site_class %></span>
      </div>
      <div class="right-col">
        <%= icon('heart-o', class: 'shortlist') %>
      </div>
      <hr />

      <div class="address-text">
        <span class="address address-1"><%= @recsite.latitude %>, <%= @recsite.longitude %></span>
        <span class="address address-2">Victoria, Australia</span>
      </div>
    </div>

    <div class="map">
      <iframe
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDIjVO-RYkBOZkW_DBOy0g4551G4ZCKPQI&origin=melbourne,victoria&destination=<%= @recsite.latitude %>,<%= @recsite.longitude %>" allowfullscreen>
      </iframe>
    </div>

    <div class="extra-info">
      <div class="weather-container">
        <span class="weather weather-forecast">Forecast: Some Showers <%= icon('cloud') %></span>
        <span class="weather weather-temp"><span class="high"><%= maxtemp = rand(5..20) %>℃</span> | <span class="low"><%= rand(5..maxtemp) %>℃</span></span>
      </div>
      <hr />
      <div class="comment-text">
        <h3>Some Extra Info</h3>
        <p>
          <% unless @recsite.camping_c || @recsite.comments %>
            No information has been added for this destination.
          <% end %>

          <%= @recsite.comments %>
          <%= @recsite.camping_c %>
        </p>
      </div>
    </div>

    <div class="amenities">
      <h3>Amenities</h3>
      <div class="tabs">
        <div class="tab-nav">
          <span class="area active">AREA</span>
          <span class="campsite">CAMPSITE</span>
          <span class="supplies">SUPPLIES</span>
        </div>
        <div class="tab-area tab">
          <ul>
            <li><%= icon('bed') %> 10 Campsites</li>
            <li><%= icon('life-buoy') %> Swimming</li>
            <li><%= icon('blind') %> Hiking trails</li>
            <li><%= icon('bicycle') %> Mountain bike trails</li>
            <li><%= icon('road') %> Sealed roads</li>
          </ul>
        </div>

        <div class="tab-campsite tab hidden">
          <ul>
            <li><%= icon('recycle') %> Recycling</li>
            <li><%= icon('lightbulb-o') %> Lights</li>
            <li><%= icon('tint') %> Drinking taps</li>
            <li><%= icon('male') %> <%= icon('female') %> Toilets</li>
            <li><%= icon('plug') %> Unpowered sites only</li>
          </ul>
        </div>

        <div class="tab-supplies tab hidden">
          <ul>
            <li><%= icon('coffee') %> Cafe</li>
            <li><%= icon('beer') %> Pub</li>
            <li><%= icon('shopping-basket') %> Supermarket</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="need-to-know">
      <h3>Need to know</h3>
      <ul>
        <li><%= icon('users') %> Bookings are for 6 people</li>
        <li><%= icon('bug') %> Snakes are common in summer</li>
        <li><%= icon('user-plus') %> 18+ to book</li>
        <li><%= icon('beer') %> Alcohol friendly</li>
        <li><%= icon('info-circle') %> Rangers available 09:00-17:00 All Days</li>
      </ul>
    </div>
  </div>

  <a href="/campsite/<%= @recsite.id %>/book-now"><button class="book-now btn btn-book-now">Book Now | $30</button></a>
</div>
