<div class="hero-banner">
  <div class="hero-banner-content">
    <h1>Log in</h1>
    <%- if devise_mapping.omniauthable? %>
      <%= link_to "#{image_tag('btn_google_signin_light_normal_web@2x.png', class: 'social-button google-plus-button')}".html_safe, omniauth_authorize_path(resource_name, "google_oauth2") %>
    <% end -%>
  </div>
</div>
