.booking-page {
  .campsite-image {
    align-items: center;
    display: flex;
    height: 45px;
    padding: 0 15px;

    .title {
      color: #fff;
      font-size: 1.4rem;
      font-weight: bold;
    }
  }

  .booking-content {
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
  }

  .left-col, .right-col {
    flex-basis: 49%;

    span {
      display: block;
    }
  }

  .right-col {
    text-align: right;

    span {
      color: #ddd;
      font-weight: bold;
    }
  }

  .payment-method {
    i {
      padding-right: 5px;
    }
  }

  .payment-method-options {
    display: none;

    &.visible {
      display: block;
    }

    span {
      cursor: pointer;
      font-weight: normal;

      &:hover {
        font-weight: bold;
      }

      &.current {
        display: none;
      }
    }
  }

  .total {
    .left-col {
      align-items: center;
      display: flex;
    }

    .right-col span {
      font-size: 2rem;
    }
  }

  .need-to-know {
    text-align: left;

    h3 {
      color: #fff;
      flex-basis: 100%;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
    }
  }

  .pay-now {
    justify-content: center;

    a {
      width: 100%;
    }

    button {
      background-color: rgba(128, 0, 128, 0.8);
      color: #eee;
      height: 70px;
      width: 100%;

      &:hover {
        background-color: rgba(128, 0, 128, 1);
        color: #fff;
      }

      i {
        padding-right: 5px;
      }
    }
  }
}

.confirmed-page {
  span {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 10px 0;
  }

  .accom-level {
    margin-top: 0;
  }

  .logistics {
    display: flex;
    flex-flow: row wrap;
    margin: 10px 0;

    span {
      flex-basis: 100%;
      font-size: 1.3rem;
    }
  }

  .big-dates {
    display: flex;
    flex-flow: row wrap;
    margin: 10px 0;

    .left-col, .right-col {
      padding: 0 15px;
      width: 50%;
    }

    .left-col {
      border-right: 1px solid white;
      text-align: right;
    }

    .right-col {
      text-align: left;
    }

    span {
      display: block;
    }

    .bigger {
      color: #fff;
      font-size: 1.75rem;
    }
  }

  .extra-buttons {
    width: 100%;
    a {
      color: #fff;
      width: 100%;
    }

    button {
      background-color: transparent;
      border-radius: 0;
      border: 1px solid #ccc;
      font-weight: bold;
      margin-top: 10px;
      width: 100%;

      &:hover {
        background-color: rgba(255,255,255,0.25);
        color: #fff;
      }
    }
  }
}
