.campsite-page {
  color: #fff;
  padding-bottom: 70px;

  img {
    width: 100%;
  }

  h3 {
    font-size: 1.8rem;
    font-weight: 200;
    margin-top: 10px;
  }

  .campsite-info-text {
    display: flex;
    flex-flow: row wrap;
    padding: 10px 0;

    .left-col, .right-col {
      flex-basis: 70%;
    }

    .right-col {
      align-items: center;
      display: flex;
      flex-basis: 30%;
      justify-content: flex-end;
      text-align: right;

      .fa {
        font-size: 3.5rem;
      }
    }

    .title {
      display: block;
      font-size: 2.25rem;
      flex-basis: 100%;
    }

    .address-text {
      span {
        display: block;
      }
    }
  }

  .weather-container {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 25px;
    justify-content: space-between;
    margin-top: 10px;
  }

  .tab-nav {
    display: flex;
    margin: 10px 0;
    width: 100%;

    span {
      border-bottom: 1px solid #fff;
      cursor: pointer;
      display: block;
      margin: 0 auto;
      width: 33.3333%;

      &:first-child {
        margin-left: 0;
      }

      &.active {
        border-bottom-color: purple;
      }
    }
  }

  .book-now {
    background-color: rgba(128, 0, 128, 0.8);
    border-radius: 0;
    color: #ccc;
    display: block;
    height: 70px;
    position: fixed;
    bottom:0;
    width: 100%;

    &:hover {
      background-color: rgba(128, 0, 128, 1);
      color: #fff;
    }
  }
}
