@import '../settings';
html, body {
  background-color: #171920;
  color: #7c8089;
  height: 100%;
  width: 100%;
}

hr {
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
}

.hidden {
  display: none !important;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.container.full-height {
  height: calc(100% - 52px); // 52px is the height of the navbar
  padding: 0;
  position: relative;
  width: 100%;
}

.hero-banner {
  align-items: center;
  background-image: image-url('hero-bg.jpeg');
  background-size: cover;
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;

  h1 {
    color: #fff;
    margin-top: 0;
    text-shadow: 1px 1px black;
  }
}

.campsite-listings {
  display: flex;
  flex-flow: row wrap;

   > a {
    flex-basis: 100%;

    @media #{$xlarge-up} {
      flex-basis: 25%;
    }
  }

  .listing {
    background-size: cover;
    background-position: bottom left;
    background-repeat: no-repeat;
    flex-basis: 100%;
    height: 190px;
    margin: 5px 0;
    position: relative;

    @media #{$xlarge-up} {
      flex-basis: 25%;
    }
  }

  .listing-text {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    display: flex;
    flex-flow: row wrap;
    height: 70px;
    padding: 0 5px;
    position: absolute;
    bottom: 0px;
    width: 100%;

    .title, .availability {
      flex-basis: 100%;
    }
  }
}

.campsite-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 450px;
  width: 100%;
}

.map {
  iframe {
    height: 200px;
    width: 100%;
  }
}

.accom-level {
  align-items: center;
  background-color: #ddd;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin-top: 3px;
  padding: 3px 8px;
  text-transform: uppercase;

  &.basic {
    background-color: #552DFF;
  }

  &.mid {
    background-color: #6DAFFF;
  }
}
