.modal-background {
  background-color: rgba(0,0,0,0.75);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.confirm-purchase-modal {
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: flex;
  flex-flow: row wrap;
  height: 100px;
  justify-content: center;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;

  button {
    border-radius: 0;
  }

  .close {
    font-weight: normal;
    position: absolute;
    top: 0px;
    right: 5px;
  }

  .loading-gif {
    height: 25px;
    width: 25px;
  }
}
