//$xsmall-range: (0, 22.5em);
//$small-range: (22.563em, 35em);
// combine xsmall with small
$small-range: (0em, 35em);
$xmedium-range: (35.063em, 45em);
$medium-range: (45.063em, 63em);
$large-range: (63.063em, 89.9em);
$xlarge-range: (89.963em, 120em);
$xxlarge-range: (120.063em, 99999999em);

$screen: 'only screen';

$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

//$xsmall-up: $screen;
//$xsmall-only: "#{$screen} and (max-width: #{upper-bound($xsmall-range)})";

$small-up: "#{$screen} and (min-width:#{lower-bound($small-range)})";
$small-only: "#{$screen} and (min-width:#{lower-bound($small-range)}) and (max-width:#{upper-bound($small-range)})";

$xmedium-down: "#{$screen} and (max-width:#{upper-bound($xmedium-range)})";
$xmedium-up: "#{$screen} and (min-width:#{lower-bound($xmedium-range)})";
$xmedium-only: "#{$screen} and (min-width:#{lower-bound($xmedium-range)}) and (max-width:#{upper-bound($xmedium-range)})";

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})";
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})";

// Legacy
$small: $medium-up;
$medium: $medium-up;
$large: $large-up;
