<!DOCTYPE html>
<html>
  <head>
    <title>CampsitesTonightRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "partials/navbar" %>
    <div class="container full-height">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
